# Dependencies
node_modules/
vendor/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# WordPress
*.log
error_log

# Composer
composer.lock
